---
import Layout from "../layouts/Layout.astro";
import VideoCard from "../components/VideoCard.astro";
---

<style>
  .hero-section {
    width: 100%;
    height: 100dvh;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  .overlay-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
  }
  @media (max-width: 1199.999px) {
    .bigOverflowVideoContainer {
      min-width: 100dvw;
      min-width: 100vw;

      height: max(100dvh, calc(100dvw * (16 / 9)));
      height: max(100vh, calc(100vw * (16 / 9)));
    }
  }

  /* For larger screens (desktop) */
  .bigOverflowVideoContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* Default landscape video settings (16:9 aspect ratio) */
    width: max(100dvw, calc(100dvh * (16 / 9)));
    width: max(100vw, calc(100vh * (16 / 9)));

    /* Full-height view */
    min-height: 100dvh;
    min-height: 100vh;
  }
</style>
<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);
  let mm = gsap.matchMedia();
  mm.add("(min-width: 767.98px)", () => {
    gsap.utils.toArray<HTMLElement>(".parallaxItem").forEach((layer) => {
      // Get the speed attribute and convert it to a number
      const speed = parseFloat(layer.getAttribute("data-speed") || "0");

      // Create the GSAP animation
      gsap.to(layer, {
        yPercent: -100 * speed, // Apply the parallax effect based on speed
        ease: "none",
        scrollTrigger: {
          trigger: layer,
          start: "top bottom",
          end: "bottom top",
          scrub: 1,
        },
      });
    });
  });
</script>
<Layout title="Home">
  <section
    class="hero-section d-flex flex-column justify-content-center text-center"
  >
    <div class="bigOverflowVideoContainer">
      <video
        preload="none"
        class="d-block d-md-none"
        autoplay
        muted
        loop
        style="width:100%;height:100%"
      >
        <source
          src="https://res.cloudinary.com/dvbmnr7qn/video/upload/f_webm/q_auto:low/c_crop,g_north,h_900,w_506/v1728062767/london-skyline-timelapse_lmlmhe.mp4"
          type="video/webm"
        />
        <source
          src="https://res.cloudinary.com/dvbmnr7qn/video/upload/f_mp4/q_auto:low/c_crop,g_north,h_900,w_506/v1728062767/london-skyline-timelapse_lmlmhe.mp4"
          type="video/mp4"
        />
      </video>
      <video
        preload="none"
        class="d-none d-md-block d-xl-none"
        autoplay
        muted
        loop
        style="width:100%;height:100%"
      >
        <source
          src="https://res.cloudinary.com/dvbmnr7qn/video/upload/f_webm/q_auto:low/c_crop,g_north,h_1200,w_768/v1728062767/london-skyline-timelapse_lmlmhe.mp4"
          type="video/webm"
        />
        <source
          src="https://res.cloudinary.com/dvbmnr7qn/video/upload/f_mp4/q_auto:low/c_crop,g_north,h_1200,w_768/v1728062767/london-skyline-timelapse_lmlmhe.mp4"
          type="video/mp4"
        />
      </video>
      <video
        preload="none"
        class="d-none d-xl-block"
        autoplay
        muted
        loop
        style="width:100%;height:100%"
      >
        <source
          src="https://res.cloudinary.com/dvbmnr7qn/video/upload/f_webm/q_auto:low/c_scale,w_1920/v1728062767/london-skyline-timelapse_lmlmhe.mp4"
          type="video/webm"
        />
        <source
          src="https://res.cloudinary.com/dvbmnr7qn/video/upload/f_mp4/q_auto:low/c_scale,w_1920/v1728062767/london-skyline-timelapse_lmlmhe.mp4"
          type="video/mp4"
        />
      </video>
    </div>
    <div class="overlay-content">
      <div class="container">
        <h1 class="display-1 fw-bold text-center text-white">
          This is some hero text. We're <span class="text-primary">really</span>
          excited.
        </h1>
        <p class="mt-4 fs-5 text-white">
          This is some sub-header text with details about that thing.
        </p>
        <div>
          <a class="btn btn-light border-radius-50 px-4 fw-bold" href="/contact"
            >Contact Us <i class="bi bi-arrow-right" aria-hidden="true"></i></a
          >
        </div>
      </div>
    </div>
  </section>
  <section class="container jumbotronSection">
    <h1 class="display-1 fw-bold">
      This is some <span class="text-primary">really</span> important text
    </h1>
    <p class="fs-5">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
    </p>
    <p class="fs-5">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
    </p>
  </section>
  <section class="jumbotronSectionTopOnly">
    <div class="container">
      <div class="row gap-2 gap-md-0 parallaxContainer">
        <div class="col-md">
          <VideoCard
            videoNameOnCDN="grid-video-1_ja8ej4.mp4"
            altText="Timelapse of London Ferris Wheel"
            dataSpeed="0.1"
          />
        </div>
        <div class="col-md">
          <VideoCard
            videoNameOnCDN="grid-video-2_rpskfq.mp4"
            altText="Timelapse video of clouds floating over river Thames"
            dataSpeed="0.3"
          />
        </div>
        <div class="col-md">
          <VideoCard
            videoNameOnCDN="grid-video-3_pfjuq1.mp4"
            altText="Timelapse video of London skyline"
            data-speed="0.2"
          />
        </div>
      </div>
    </div>
  </section>
  <section class="container jumbotronSectionBottomOnly">
    <h1 class="display-1 fw-bold">
      This is some <span class="text-primary">text</span> at the bottom of the page
    </h1>
    <p class="fs-5">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
    </p>
    <p class="fs-5">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum. TEST.
    </p>
  </section>
  <script>
    window.addEventListener("scroll", function () {
      const navbars = document.getElementsByClassName("navbar"); // Get all navbar elements
      for (let i = 0; i < navbars.length; i++) {
        // Loop through each navbar
        if (window.scrollY > 56) {
          // Adjust the value as needed
          navbars[i].classList.add("scrolled");
          navbars[i].classList.add("shadow-lg");
        } else {
          navbars[i].classList.remove("scrolled");
          navbars[i].classList.remove("shadow-lg");
        }
      }
    });
  </script>
</Layout>
