---
import Layout from "../layouts/Layout.astro";
import GridImage from "../components/GridImage.astro";
---

<style>
  .hero-section {
    background-image: url("https://ik.imagekit.io/oxlcbgl8dg/home-hero.webp/tr:q-50,w-1200,f-auto");
    background-image: -webkit-image-set(
      url("https://ik.imagekit.io/oxlcbgl8dg/home-hero.webp/tr:q-50,w-1200,f-auto")
        1x,
      url("https://ik.imagekit.io/oxlcbgl8dg/home-hero.webp/tr:q-80,w-1200,f-auto")
        2x
    );
    background-image: image-set(
      url("https://ik.imagekit.io/oxlcbgl8dg/home-hero.webp/tr:q-50,w-1200,f-auto")
        1x,
      url("https://ik.imagekit.io/oxlcbgl8dg/home-hero.webp/tr:q-80,w-1200,f-auto")
        2x
    );
    background-size: cover; /* Ensures the image covers the entire section */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    min-height: calc(100dvh); /* Use dvh */
    min-height: calc(100vh); /* Fallback for browsers that do not support dvh */
    width: 100%; /* Ensures the section takes the full width */
    overflow: hidden; /* Prevents any overflow */
  }
  .masonry-item {
    width: 50%;
  }

  @media (min-width: 768px) {
    .hero-section {
      background-image: image-set(
        url("https://ik.imagekit.io/oxlcbgl8dg/home-hero.webp/tr:q-50,w-1200,f-auto")
          1x,
        url("https://ik.imagekit.io/oxlcbgl8dg/home-hero.webp/tr:q-80,w-1200,f-auto")
          2x
      );
    }
    .masonry-item {
      width: 33.333333333%;
    }
  }

  @media (min-width: 1200px) {
    .hero-section {
      background-image: image-set(
        url("https://ik.imagekit.io/oxlcbgl8dg/home-hero.webp/tr:q-50,w-1920,f-auto")
          1x,
        url("https://ik.imagekit.io/oxlcbgl8dg/home-hero.webp/tr:q-80,w-1920,f-auto")
          2x
      );
    }
    .masonry-item {
      width: 25%;
    }
  }
  .video-section {
    position: relative;
    height: 100vh; /* Full viewport height */
    overflow: hidden;
  }
  /* .overlay-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
  } */
  .bigOverflowVideoContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 100vh;
    width: max(100vw, calc(100vh * (16 / 9)));
  }
</style>
<Layout title="Home">
  <section
    class="hero-section d-flex flex-column justify-content-center text-center"
  >
    <div class="container">
      <h1 class="display-1 fw-bold text-center text-white">
        This is some hero text. We're <span class="text-primary">really</span> excited.
      </h1>
      <p class="mt-4 fs-5 text-white">
        This is some sub-header text with details about that thing.
      </p>
      <div>
        <a class="btn btn-light border-radius-50 px-4 fw-bold" href="/contact"
          >Contact Us <i class="bi bi-arrow-right" aria-hidden="true"></i></a
        >
      </div>
    </div>
  </section>
  <!-- <section class="video-section">
    <div class="bigOverflowVideoContainer">
      <video preload="none" class="d-block d-md-none" autoplay muted loop>
        <source
          src="https://ik.imagekit.io/oxlcbgl8dg/london-timelapse.mp4/tr:q-1,w-1200,f-auto"
          type="video/webm"
          style="width:100%;height:100%"
        />
      </video>
      <video
        preload="none"
        class="d-none d-md-block d-xl-none"
        style="width:100%;height:100%"
        autoplay
        muted
        loop
      >
        <source
          src="https://ik.imagekit.io/oxlcbgl8dg/london-timelapse.mp4/tr:q-1,w-1200,f-auto"
          type="video/webm"
        />
      </video>
      <video
        preload="none"
        class="d-none d-xl-block"
        autoplay
        muted
        loop
        style="width:100%;height:100%"
      >
        <source
          src="https://ik.imagekit.io/oxlcbgl8dg/london-timelapse.mp4/tr:q-50,w-1920,f-auto"
          type="video/webm"
        />
      </video>
    </div>
  </section> -->
  <section class="pb-5">
    <h1 class="visually-hidden">Photos of London</h1>
    <div id="photoGrid">
      <GridImage
        imageNameOnCDN="grid-image-1"
        altText="Millennium bridge at sunset"
      />
      <GridImage
        imageNameOnCDN="grid-image-2"
        altText="Cab on cobblestone street"
      />
      <GridImage imageNameOnCDN="grid-image-3" altText="Big Ben" />
      <GridImage imageNameOnCDN="grid-image-4" altText="Modern bridge" />
      <GridImage
        imageNameOnCDN="grid-image-5"
        altText="Tower Bridge and skyline"
      />
      <GridImage imageNameOnCDN="grid-image-6" altText="Expansive open hall" />
      <GridImage imageNameOnCDN="grid-image-7" altText="Big Ben along water" />
      <GridImage imageNameOnCDN="grid-image-8" altText="Big Ben at sunrise" />
      <GridImage
        imageNameOnCDN="grid-image-9"
        altText="Cab driving below row of flags"
      />
    </div>
  </section>
  <section class="container jumbotronSection">
    <h1 class="display-1 fw-bold">
      This is some <span class="text-primary">really</span> important text
    </h1>
    <p class="fs-5">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
    </p>
    <p class="fs-5">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
    </p>
  </section>
</Layout>
<script>
  import Masonry from "masonry-layout";
  window.addEventListener("scroll", function () {
    const navbars = document.getElementsByClassName("navbar"); // Get all navbar elements
    for (let i = 0; i < navbars.length; i++) {
      // Loop through each navbar
      if (window.scrollY > 56) {
        // Adjust the value as needed
        navbars[i].classList.add("scrolled");
        navbars[i].classList.add("shadow-lg");
      } else {
        navbars[i].classList.remove("scrolled");
        navbars[i].classList.remove("shadow-lg");
      }
    }
  });

  document.addEventListener("DOMContentLoaded", function () {
    var msnry = new Masonry("#photoGrid", {
      columnWidth: ".masonry-item",
      itemSelector: ".masonry-item",
      percentPosition: true,
    });
  });
</script>
