---
interface Props {
  title: string;
}

import "../styles.scss";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://code.jquery.com" />
    <link rel="preconnect" href="https://unpkg.com" />

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
      defer></script>
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      as="style"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="d-flex flex-column h-100">
    <header>
      <nav
        class="navbar navbar-expand-lg fixed-top navbar-dark container radius-50 py-3 mt-2 px-3 d-none d-lg-block"
      >
        <div class="container">
          <a class="navbar-brand fw-bold" href="/">Video is Cool</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Blog</a>
              </li>
            </ul>
            <a class="btn btn-outline-light" href="#">Contact</a>
          </div>
        </div>
      </nav>
      <nav
        class="navbar navbar-expand-lg fixed-top navbar-dark d-block d-lg-none"
        id="mobileNavbar"
      >
        <div class="container">
          <a class="navbar-brand fw-bold" href="/">Optimization</a>
          <button
            id="mobile-navbar-toggler"
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Blog</a>
              </li>
            </ul>
            <a class="btn btn-outline-light" href="#">Contact</a>
          </div>
        </div>
      </nav>
    </header>
    <main class="flex-shrink-0">
      <slot />
    </main>
    <footer class="border-top footer bg-body-secondary mt-auto">
      <div class="container">
        <div class="pt-3 fs-6 pb-5">
          <div class="d-flex justify-content-between flex-wrap">
            <div class="me-3 mb-2 mb-sm-0">
              <div>
                <small class="fw-bold"
                  >© 2024 Kevin Lauer Digital. All Rights Reserved.</small
                >
              </div>
            </div>
            <div class="d-flex">
              <a class="nav-link" href="#">About</a>
              <a class="nav-link ms-3" href="#">Contact Us</a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
